<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Prendre une photo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="tab2-page" *ngIf="currentImage" >
        <img [src]="currentImage" alt="Camara Rendering"/>
    </div>
    <ion-fab vertical="bottom" slot="fixed" class="bottom-bar">
        <ion-row>
            <ion-col size="4" *ngIf="currentImage">
                <ion-fab-button (click)="deletePicture()" color="danger" class="margin-auto">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-fab-button>
            </ion-col>
            <ion-col size="4" *ngIf="!currentImage" [offset]="4">
                <ion-fab-button (click)="takePicture()" class="margin-auto">
                    <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
            </ion-col>
            <ion-col size="4" *ngIf="currentImage">
                <ion-fab-button (click)="takePicture()" class="margin-auto">
                    <ion-icon name="camera"></ion-icon>
                </ion-fab-button>
            </ion-col>
            <ion-col size="4" *ngIf="currentImage">
                <ion-fab-button (click)="savePicture()" color="success" class="margin-auto">
                    <ion-icon name="save-outline"></ion-icon>
                </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-fab>
</ion-content>
