<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div *ngIf="error">
        <p>Error....</p>
    </div>
    <div *ngIf="!error">
        <ion-row>
            <ion-col size="6" *ngFor="let picture of pictures">
                <div class="img-center" (click)="openPicture(picture)">
                    <img [src]="picture.data" [alt]="picture.name">
                </div>
            </ion-col>
        </ion-row>
    </div>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="reload()">
            <ion-icon name="refresh-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
