<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Enregistrer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="tab3-page">
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
    
        <ion-button expand="full" color="primary" (click)="register()" [disabled]="!isNameValid() || loading">Save</ion-button>
        
        <div>
        
        </div>
    </div>
</ion-content>
